<div class="main-content">
  <div id="page-wrapper">
    <div class="main-page">
      <div class="tables">
        <h3 class="title1">List Customer</h3>
        <div class="panel-body widget-shadow">

          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let customer of customers">
                <td>{{customer.id}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.age}}</td>
                <td>{{customer.gender}}</td>
                <td>{{customer.phone}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.address}}</td>
                <td>
                  <a routerLink="edit/{{customer.id}}" class="btn btn-primary">Edit</a>
                  <a (click)="deleteCustomer(customer.id)" class="btn btn-danger" onclick="return confirm('Bạn chắc chắn muốn xóa chứ?')" >Delete</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>