<div class="main-content">
  <div id="page-wrapper">
    <div class="main-page">
      <div class="tables">
        <h3 class="title1">List Room</h3>
        <div class="panel-body widget-shadow">

          <table class="table table-striped">
            <thead>
            <tr>
              <th>#</th>
              <th>Roomnumber</th>
              <th>Price</th>
              <th>Content</th>
              <th>Image</th>
              <th>Floor</th>
              <th>Type</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor = "let room of rooms; let i = index">
              <td>{{i + 1}}</td>
              <td>{{room.roomnumber}}</td>
              <td>{{room.price}}</td>
              <td>{{room.content}}</td>
              <td>
                <img src="{{room.image}}" style="width: 100px">
              </td>
              <td>{{room.floor}}</td>
              <td>{{room.type}}</td>
              <td>{{room.description}}</td>
              <td>
                <a routerLink="edit/{{room.id}}" class="btn btn-primary">Edit</a>
                <a (click)="deleteRoom(room.id)" class="btn btn-danger" onclick="return confirm('Bạn chắc chắn muốn xóa chứ?')" >Delete</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
